div.statusbox {
   border: 1px solid gray;
   padding: 0;
   overflow: hidden;
   width: 20em;
   font-size: 80%;
   font-family: Tahoma,Arial,Helvetica;
   box-shadow: 4px 5px 5px #888;
   padding: 0.5em;
   border-radius: 5px;
}

.statusbox ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.statusbox h3 {
    margin: 0;
}

.statusbox_item_error, .statusbox_item_ok {
    position: absolute;
    left: 9em;
}

.statusbox_item_error {
    color: red;
}

.statusbox_item_ok {
    color: green;
}

